.text-goldman {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-press-start {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.text-hammersmith {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-hammersmith-bold {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 50px;
}

.text-jersey {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 50px;
}

.text-montserrat-bold-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text-montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-style: normal;
}

.text-inter {
  font-family: "Inter", sans-serif;
  font-weight: 600; /* Semi Bold */
  font-size: 80px;
  line-height: 1; /* closest to Auto for display text */
  letter-spacing: -0.07em; /* -7% */
}

.text-inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 900; /* Semi Bold */
}
