body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --darkBlue: #3D405B;
  --green: #81B29A;
  --yellow: #F2CC8F;
  --orange: #E07A5F;
  --whiteText: #F4F1DE;
  --headingBlue: #1E234D;
  --darkOrangeText: #D15D3E;
  --darkGreenText: #6A9C84;
  --darkBlueText: #2B2D43;
}
